@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.where {
    display: flex;
    justify-content: center;
    font-size: 30px;

}

.presentation_refuge {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
}

.location_shelter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}

.ol_location {
    margin: 0;
    padding: 0;
    list-style-type: disclosure-closed;
    font-size: 30px;
}

.city_links {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.city_links:hover {
    color: rgb(165, 42, 42);
    transition: 0.5s;
}